@use "../abstracts/mixins" as m;

#booking-page {
  .banner-wrapper {
    height: 100vh;
    margin-bottom: 12rem;
    @include m.media-query(mobile) {
      margin-bottom: 8rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#booking {
  .booking-content {
    position: relative;
    max-width: 160rem;
    width: 95%;
    margin-inline: auto;
  }
  p.intro-text {
    margin-bottom: 6rem;
    @include m.media-query(tablet) {
      margin-bottom: 4rem;
    }
    @include m.media-query(mobile) {
      margin-bottom: 2rem;
    }
  }
}

h1 {
  margin-bottom: 4rem;
  @include m.media-query(mobile) {
    margin-bottom: 2.5rem;
  }
}

form {
  max-width: 74rem;
  padding-bottom: 4rem;
  .input-row {
    @include m.flex(normal, space-between, row);
    gap: 4rem;
    @include m.media-query(form-mobile) {
      flex-wrap: wrap;
    }
    @include m.media-query(mobile) {
      gap: 0;
    }
    &:nth-child(1) {
      .input-box {
        flex: 1 1 19rem;
        @include m.media-query(form-mobile) {
          flex-basis: 100%;
        }
      }
      @include m.media-query(form-mobile) {
        gap: 0rem;
      }
    }
  }
  .input-box {
    @include m.flex(normal, normal, column);
    flex: 1;
    margin-bottom: 3rem;
    @include m.media-query(mobile) {
      flex-basis: 100%;
    }
  }
  label {
    margin-bottom: 2rem;
  }
  input,
  select,
  textarea {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem;
  }
  .custom-select,
  .custom-input {
    position: relative;
    select,
    input {
      cursor: pointer;
      appearance: none;
      text-align: center;
    }
  }
  .custom-select::after,
  .custom-input::after {
    content: url("../assets/chevron_down.svg");
    display: block;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .custom-input::after {
    content: url("../assets/calendar.svg");
  }
  button[type="submit"] {
    @include m.flex(center, space-between, row);
    gap: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
  }
}

.watermark-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 99%;
  height: 99%;
  opacity: 0.01;
  pointer-events: none;
  overflow: hidden;
  @include m.media-query(tablet) {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
