@use "../abstracts/mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
}

.error {
  position: fixed;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 10;
}
